body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; }

.background-register {
  margin-top: 15px;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }
  .background-register .inner-container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50vh - 140px);
    left: calc(50vw - 200px);
    overflow: hidden; }
    .background-register .inner-container .box {
      position: absolute;
      height: 100%;
      width: 100%;
      font-family: Helvetica;
      color: #fff;
      background: rgba(0, 0, 0, 0.13);
      padding: 30px 0px; }
      .background-register .inner-container .box h1 {
        text-align: center;
        margin: 30px 0;
        font-size: 150px; }
      .background-register .inner-container .box .form-error {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; }
      .background-register .inner-container .box input {
        display: block;
        width: 300px;
        margin: 20px auto;
        padding: 15px;
        background: rgba(0, 0, 0, 0.2);
        border: 0; }
        .background-register .inner-container .box input::placeholder {
          color: rgba(255, 255, 255, 0.8); }
        .background-register .inner-container .box input:focus {
          outline: none; }
        .background-register .inner-container .box input:active {
          outline: none; }
      .background-register .inner-container .box button {
        background-color: rgb(0, 144, 248);;
        border: 0;
        color: #fff;
        padding: 10px;
        font-size: 20px;
        width: 330px;
        margin: 20px auto;
        display: block;
        cursor: pointer; }
        .background-register .inner-container .box button:focus {
          outline: none; }
        .background-register .inner-container .box button:active {
          outline: none;
          background-color: rgb(0, 144, 248);; }
      .background-register .inner-container .box p {
        font-size: 14px;
        text-align: center; }
      .background-register .inner-container .box p span {
        cursor: pointer;
        color: #666; }
