.rooms-admin{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.rooms-list{
    width: 80%;
    margin-top: 10px;
}

.room-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgray;
}

.info-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px;
}

.info-block p{
    font-family: helvetica;
    font-size: 14px;
}