
.room-state{
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container-1{
  width: 80%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.form{
  margin: 0;
}