
.page-title{
    width: 80%;
}

.page-title h3{
    font-size: 22px;
    color: rgb(0, 144, 248);
}

/* --> OVERVIEW  */
.user-overview{
    margin-top: 60px;
}

/* --> APARTMENTS LIST <-- */
.apts-list{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.apts-list-header{
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 144, 248);
    margin-bottom: 2px;
}
.apts-list-header ul{
    width: 100%;
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    color: white;
    font-weight: 550;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.apts-list-header ul li{
    margin: 4px 0px 4px 20px;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.apts-list-header ul li:last-child{
    margin: 4px 0px 4px 20px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apts-row{
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 4px 0px;
    padding: 0;
}
.apts-row:nth-child(even){
    background-color: rgba(0, 144, 248, 0.05);
}
.apts-row:nth-child(odd){
    background-color: rgba(0, 144, 248, 0.1);
}

.apts-row:nth-child(even):hover{
    background-color: rgba(0, 144, 248, 0.2);
}
.apts-row:nth-child(odd):hover{
    background-color: rgba(0, 144, 248, 0.4);
}

.apts-info-block{
    margin: 4px 0px 4px 20px;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.apts-info-block-name{
    margin: 4px 0px 4px 20px;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.apts-info-block-name p{
    font-size: 14px;
}

.apts-info-block-c{
    margin: 4px 0px 4px 20px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-family: helvetica;
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: rgb(0, 144, 248);
}
.add-apartment{
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.add-apt-button{
    width: 60%;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
}

/* ------------- ROOMS -------------- */


.rooms-home-row{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 4px 0px;
    padding: 0;
    border-bottom: 1px solid RGB(236, 236, 236);
}
.rooms-home-row:nth-child(even){
    background-color: rgba(236, 236, 236, 0.05);
}
.rooms-home-row:nth-child(odd){
    background-color: rgba(236, 236, 236, 0.1);
}
.rooms-home-row:nth-child(even):hover{
    background-color: rgba(236, 236, 236, 0.2);
}
.rooms-home-row:nth-child(odd):hover{
    background-color: rgba(236, 236, 236, 0.4);
}
.rooms-home-info-block{
    margin: 4px 0px 4px 20px;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.rooms-home-info-block-c{
    margin: 4px 0px 4px 20px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-family: helvetica;
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: rgb(128, 128, 128);
}
.rooms-home-info-block-name {
    margin: 4px 0px 4px 20px;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: red;
}
.rooms-home-info-block-name p{
    font-size: 12px;
}

