.apt-overview{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.paque{
    width: 100%;
}

.apt-render-fn{
    width: 100%;
    margin: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.apt-info-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: helvetica;
}

.info-block-text{
    width: 100%;
    margin: 0;
}


.apt-info-block .info-block-text h4{
    margin: 10px 0 0 20px;
    font-size: 28px;
    font-weight: 550;
    color: rgb(0, 144, 248);
}

.address{
    width: 100%;
    margin: 0;
}

.address p{
    margin: 5px 0 0 20px;
    font-size: 16px;
    padding: 0;
    color: rgb(145, 155, 155);
}



.rooms-listing{
    
    margin-top: 20px;
    width: 100%;
}
.room-row:nth-child(even){
    background-color: rgba(0, 144, 248, 0.3);
}

.room-row:nth-child(odd){
    background-color: rgba(0, 144, 248, 0.6);
}

