.apt-overview{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.address{
    width: 100%;
    justify-content: flex-start;
    display: flex;
}

.address h4{
    margin: 10px 0 0 20px;
    font-size: 28px;
    font-weight: 550;
    color: rgb(0, 144, 248);
}
.over-subt{
    width: 100%;
}
.graphic{
    width: 50%;
}
.paque{
    width: 100%;
}

/* ROOMS GRAPHIC RENDER */

.room-line{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.room-line:nth-child(even):hover{
    background-color: rgba(0, 144, 248, 0.05);
}
.room-line:nth-child(odd):hover{
    background-color: rgba(0, 144, 248, 0.05);
}
.room-Nr{
    margin-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}
.room-Nr p{
    margin-right: 10px;
    color: rgb(0, 144, 248);
}
.room-Nr p span{
    margin-right: 10px;
    font-size: 20px;
    color: rgb(0, 144, 248);
    font-weight: 550;
}
.time-line{
    width: 100%;
    display: flex;
    align-items: center;
}
.time-line .graphic-area{
    display: flex;
    align-items: center;
}


/* BOOKINGS LISTING */
/* Bookings Header*/
.standard-list{
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.standard-list-title{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.standard-list-title p{
    margin: 10px 0 0 0px;
    font-size: 20px;
    padding: 0;
    color: rgb(145, 155, 155);
}
.standard-list-header{
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 144, 248);
}
.standard-list-header ul{
    width: 100%;
    margin: 0;
    padding: 10px 0;;
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.standard-list-header ul li{
    margin: 0 2.5% 0px 2.5%;
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.standard-list-render{
    width: 100%;
}
/* _render  */

.standard-list-row{
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 4px 0px;
    padding: 0;
}
.standard-list-row:nth-child(even){
    background-color: rgba(0, 144, 248, 0.05);
}
.standard-list-row:nth-child(even):hover{
    background-color: rgba(0, 144, 248, 0.2);
}
.standard-list-info-block{
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1.5% 0px 3.5%;
}
.standard-list-info-block p{
    font-family: helvetica;
    font-size: 18px;
    padding: 0;
    margin-left: 35%;
}
.standard-list-info-block-price{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 5% 0px 0;
}
.standard-add-button{
    width: 80%;
    margin: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

#button-info p{
    display: block;
    
}


/* ROOMS LISTING */

/* Rooms Header*/
.apt-rooms-admin{
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apt-manage-rooms{
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.apt-rooms-list{
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apt-rooms-list-header{
    border-radius: 10px;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 144, 248);
}
.apt-rooms-list-header ul{
   width: 100%;
    margin: 0;
    padding: 10px 0;;
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apt-rooms-list-header ul li{
    margin: 0 10px 0px 10px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#empty-list{
    width: 80%;  
    border-radius: 10px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(246, 246, 246, 0.8);
}
#empty-list p{
    font-size: 20px;
}
